<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>
	<title>User List</title>
	<link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />

</head>

<body>

	<div id="content">
		<div class="selfWritter text-2xl text-center p-1">All Users Right here...</div>
		<div
			class="relative bg-white dark:bg-gray-800 overflow-x-auto shadow-md sm:rounded-lg h-screen flex flex-col justify-between">
			<table id="user-table" th:if="${pageContent != null && pageContent.totalElements > 0}"
				class="min-w-full text-sm text-left text-gray-500 dark:text-gray-400">
				<thead
					class="text-xs text-gray-700 uppercase sticky top-0 bg-gray-50 dark:bg-gray-700 dark:text-gray-700">
					<tr class="bg-blue-100 text-center">
						<th scope="col" class="px-2 py-3"></th>
						<th scope="col" class="px-2 py-3 text-orange">User</th>
						<th scope="col" class="px-2 py-3 text-orange">Name</th>
						<th scope="col" class="px-2 py-3 text-orange">Gender</th>
						<th scope="col" class="px-2 py-3 text-orange">Religion</th>
						<th scope="col" class="px-2 py-3 text-orange">Caste</th>
						<th scope="col" class="px-2 py-3 text-orange">Age</th>
						<th scope="col" class="px-2 py-3 text-orange">Height</th>
						<th scope="col" class="px-2 py-3 text-orange">Married Status</th>
						<th scope="col" class="px-2 py-3 text-orange">Place of Living</th>
						<th scope="col" class="px-2 py-3 text-orange">Occupation</th>
						<th scope="col" class="px-2 py-3 text-orange">Phone Number</th>
						<th scope="col" class="px-2 py-3 text-orange">View Profile</th>
						<th scope="col" class="px-2 py-3 text-orange">Authority Control</th>
					</tr>
				</thead>
				<tbody>
					<tr data-th-object="${c}" data-th-each="c  : ${pageContent.getContent()}"
						class="text-center odd:bg-white even:bg-gray-50 !important even:dark:bg-gray-800 odd:dark:bg-gray-900  border-b dark:border-gray-700">

						<td class="px-2 py-2"></td>
						<td class="px-2 py-2">
							<img class="w-10 h-10 rounded-full border-orange" 
							    th:src="*{picture}"
							    onerror="this.onerror=null; this.src='https://res.cloudinary.com/dcrlfty5k/image/upload/v1729153915/yjllp8ag6uab4gdq7hog.png';"
							    alt="User Pic">
							<p data-th-text="*{userId}" class="text-gray-900 dark:text-white"></p>
						</td>
						<td data-th-text="*{name}" class="px-2 py-2"></td>
						<td data-th-text="*{gender}" class="px-2 py-2"></td>
						<td data-th-text="*{religion}" class="px-2 py-2"></td>
						<td data-th-text="*{caste}" class="px-2 py-2"></td>
						<td data-th-text="*{age}" class="px-2 py-2"></td>
						<td data-th-text="*{height}" class="px-2 py-2"></td>
						<td data-th-text="*{marriedStatus}" class="px-2 py-2"></td>
						<td data-th-text="*{place}" class="px-2 py-2"></td>
						<td data-th-text="*{occupation}" class="px-2 py-2"></td>
						<td data-th-text="*{phoneNumber1}" class="px-2 py-2"></td>
						<td class="px-2 py-2">
							<a data-th-href="@{'/user/'+*{userId}}"
								class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
								<i class="fa-solid fa-eye"></i>
							</a>
						</td>
						<td class="px-2 py-2 flex gap-2 ">
							<a th:unless="*{email} == ${adminEmail}" href="javascript:void(0);"
								th:onclick="|confirmDeleteAccountByAdmin(event, '/do-deleteadmin/' + *{userId})|"
								type="button"
								class="hidden md:flex text-white bg-red-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 w-11 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-blue-800">
								<i class="fa-solid fa-trash mt-1"></i>
							</a>
							<div th:if="*{email} == ${adminEmail}">
								<button type="button" onclick="exportData()"
									class="px-3 py-2 bg-green-800 text-white rounded">Export</button>
							</div>

							<div id="subscription_change_button" th:unless="*{email} == ${adminEmail}" class="mt-2">
								<a th:if="*{subscriptionIsActive}"
									class="text-white bg-green-800 hover:bg-green-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 w-20 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-blue-800"
									th:onclick="|confirmSubscriptionChange('/do-togglesubscriptionisactive/' + *{userId}, true)|">
									Active
								</a>

								<a th:unless="*{subscriptionIsActive}"
									class="text-white bg-red-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 w-20 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-blue-800"
									th:onclick="|confirmSubscriptionChange('/do-togglesubscriptionisactive/' + *{userId}, false)|">
									Inactive
								</a>
							</div>
							<div>
								<a data-th-href="@{'/view/userDetailsUpdateForm/'+*{userId}}" type="button"
									class="text-center bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 text-white hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 rounded-lg text-md px-8 py-2.5">Edit</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- Pagination component -->
			<div data-th-if="${pageContent.totalElements > 0}"
				class="pagination_container bg-white dark:bg-gray-800 p-5 text-center">
				<nav aria-label="Page navigation example">
					<ul class="inline-flex -space-x-px text-base h-10">
						<li data-th-unless="${pageContent.first}">
							<a data-th-href="@{'/user/userlist?size='+${pageSize}+'&page=' + ${pageContent.number-1}}"
								class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-orange bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
						</li>
						<li data-th-if="${startPage > 1}">
							<a data-th-href="@{'/user/userlist?size='+${pageSize}+'&page=0'}"
								class="flex items-center justify-center px-4 h-10 leading-tight text-orange border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
						</li>
						<li data-th-if="${startPage > 2}">
							<span class="flex items-center justify-center px-4 h-10 text-orange">...</span>
						</li>
						<li data-th-each="index : ${#numbers.sequence(startPage - 1, endPage - 2)}">
							<a data-th-href="@{'/user/userlist?size='+${pageSize}+'&page='+${index}}"
								data-th-classappend="${index == pageContent.number ? 'bg-blue-50 dark:bg-gray-600' : 'bg-white dark:bg-gray-800'}"
								class="flex items-center justify-center px-4 h-10 leading-tight text-orange border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
								<span data-th-text="${index + 1}"></span>
							</a>
						</li>
						<li data-th-if="${endPage < totalPages - 1}">
							<span class="flex items-center justify-center px-4 h-10 text-orange">...</span>
						</li>
						<li>
							<a data-th-href="@{'/user/userlist?size='+${pageSize}+'&page=' + ${totalPages-1}}"
								class="flex items-center justify-center px-4 h-10 leading-tight text-orange border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
								<span data-th-text="${totalPages}"></span>
							</a>
						</li>
						<li data-th-unless="${pageContent.last}">
							<a data-th-href="@{'/user/userlist?size='+${pageSize}+'&page=' + ${pageContent.number + 1}}"
								class="flex items-center justify-center px-4 h-10 leading-tight text-orange bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
						</li>

						<li>
							<select onchange="window.location.href=this.value" aria-label="Page size selection"
								class="flex items-center justify-center px-4 h-10 ml-3 leading-tight text-orange border border-orange hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white">
								<!-- Placeholder Option -->
								<option value="" disabled selected>PageSize</option>
								<!-- Page Size Options -->
								<option value="/user/userlist?size=10&page=0" th:selected="${pageSize == 10}">10
								</option>
								<option value="/user/userlist?size=50&page=0" th:selected="${pageSize == 50}">50
								</option>
								<option value="/user/userlist?size=100&page=0" th:selected="${pageSize == 100}">100
								</option>
								<option value="/user/userlist?size=500&page=0" th:selected="${pageSize == 500}">500
								</option>
								<option value="/user/userlist?size=1000&page=0" th:selected="${pageSize == 1000}">1000
								</option>
								<option value="/user/userlist?size=2000&page=0" th:selected="${pageSize == 2000}">2000
								</option>
								<option value="/user/userlist?size=3000&page=0" th:selected="${pageSize == 3000}">3000
								</option>
								<option value="/user/userlist?size=5000&page=0" th:selected="${pageSize == 5000}">5000
								</option>
							</select>
						</li>
					</ul>
				</nav>
			</div>

			<h1 class="text-5xl text-center dark:bg-gray-800 dark:text-white bg-white p-4"
				data-th-if="${pageContent.totalElements<=0}">
				No result found
			</h1>
		</div>

	</div>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<script src="https://cdn.jsdelivr.net/npm/@linways/table-to-excel@1.0.4/dist/tableToExcel.min.js"></script>
	<script>
		console.log("UserList page");
		function exportData() {
			TableToExcel.convert(document.getElementById("user-table"), {
				name: "users.xlsx",
				sheet: {
					name: "Sheet 1",
				},
			});
		}

		function confirmDeleteAccountByAdmin(event, url) {
			Swal.fire({
				title: 'Are you Sure to Delete?',
				text: 'It\'ll Permanetly deleted, You Can\'t Revert this',
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes, delete it!'
			}).then((result) => {
				if (result.isConfirmed) {
					// If the user confirms, redirect to the URL to trigger the delete action
					window.location.href = url; // This triggers the @GetMapping method in your controller
				}
			});
		}

		function confirmSubscriptionChange(url, isActive) {
			Swal.fire({
				title: 'Are you wanna ToggleActive?',
				text: 'By Clicking, You can Active/De-Active User Account',
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: isActive ? 'Yes, deactivate it!' : 'Yes, activate it!'
			}).then((result) => {
				if (result.isConfirmed) {
					// If the user confirms, navigate to the URL to trigger the controller action
					window.location.href = url; // This triggers the @GetMapping method in your controller
				}
			});
		}


	</script>


</body>

</html>