<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>
	<title>Signup</title>
</head>

<body >
	<div id="content">
		<div id="bgImage10">
			<div class="flex justify-center items-center min-h-screen my-5">
				<!-- Card -->
				<div
					class="block p-6 py-4 border-t-[10px] border-orange bg-transparent w-full max-w-md sm:max-w-lg md:max-w-xl lg:w-96 xl:w-96 mx-auto rounded-xl shadow hover:bg-gray-300 dark:bg-gray-800 dark:border-blue-700 dark:hover:bg-gray-700 backdrop-blur-lg bg-opacity-30">

					<!-- Message here -->
					<div data-th-replace="~{message::messagebox}"></div>
					<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">
						Signup Here
					</h5>
					<p class="font-normal text-gray-400 dark:text-gray-400 text-center">
						It'll help you to earlier find your Soul Mate.
					</p>

					<!-- Form -->
					<form data-th-action="@{'/do-register'}" method="post" data-th-object="${userForm}" class="mt-5"
						novalidate enctype="multipart/form-data">

						<!-- Email field -->
						<div class="mb-3">
							<label for="email"
								class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email
								<super class="text-red-600 ml-1 text-lg font-medium">*</super>
							</label>
							<input data-th-field="*{email}" type="email" id="email"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
								placeholder="name@gmail.com" required />
							<p data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}"
								class="text-red-600 px-1 py-2"></p>
						</div>

						<!-- Password field -->
						<div class="mb-3">
							<label for="password"
								class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New
								Password<super class="text-red-600 ml-1 text-lg font-medium">*</super></label>
							<input data-th-field="*{password}" type="password" id="password"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
								placeholder="Use Random letters, digits, Special Symbols" required />
							<p data-th-if="${#fields.hasErrors('password')}" data-th-errors="*{password}"
								class="text-red-600 px-1 py-2"></p>
						</div>

						<!-- Submit and Reset buttons -->
						<div class="mb-3 flex justify-center space-x-3">
							<button type="submit"
								class="px-4 py-2 rounded bg-blue-700 hover:bg-blue-800 text-white dark:bg-blue-700 dark:hover:bg-blue-800">
								Proceed-Details
							</button>
							<button type="reset"
								class="px-4 py-2 rounded bg-red-700 hover:bg-red-800 text-white dark:bg-red-700 dark:hover:bg-red-800">
								Reset
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script>
		console.log("Signup page");
	</script>
</body>

</html>